In [1]:
import os
import numpy as np
import pandas as pd

csv_file_path = '/home/aiffel/Code/Practice3/trade.csv'
trade = pd.read_csv(csv_file_path) 
print(trade.head())
print('전체 데이터 건수:', len(trade))
print('컬럼별 결측치 개수','전체 길이 - count()')
print(len(trade) - trade.count())

          기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지  기타사항
0  2015년 01월  중국  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015년 01월  미국   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015년 01월  일본   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015년 02월  중국   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015년 02월  미국   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN
전체 데이터 건수: 199
컬럼별 결측치 개수 전체 길이 - count()
기간        0
국가명       0
수출건수      3
수출금액      4
수입건수      3
수입금액      3
무역수지      4
기타사항    199
dtype: int64

In [2]:
print('기타사항은 전부 결측치 : 아무 내용이 없는 열이기 때문 고로 삭제')
trade = trade.drop('기타사항', axis=1)
print(trade.head())
print(trade.isnull()) # null만 보여줌
print(trade[trade.isnull().any(axis=1)]) #null만 들어있는 Dataframe으로 보여줌

기타사항은 전부 결측치 : 아무 내용이 없는 열이기 때문 고로 삭제
          기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지
0  2015년 01월  중국  116932.0  12083947.0  334522.0  8143271.0  3940676.0
1  2015년 01월  미국   65888.0   5561545.0  509564.0  3625062.0  1936484.0
2  2015년 01월  일본   54017.0   2251307.0   82480.0  3827247.0 -1575940.0
3  2015년 02월  중국   86228.0   9927642.0  209100.0  6980874.0  2946768.0
4  2015년 02월  미국   60225.0   5021264.0  428678.0  2998216.0  2023048.0
        기간    국가명   수출건수   수출금액   수입건수   수입금액   무역수지
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
194  False  False  False  False  False  False  False
195  False  False  False  False  False  False  False
196  False  False   True   True   True   True   True
197  False  False   True   True   True   True   True
198  False  False   True   True   True   True   True

[199 rows x 7 columns]
            기간 국가명      수출건수  수출금액       수입건수       수입금액  무역수지
191  2020년 04월  미국  105360.0   NaN  1141118.0  5038739.0   NaN
196  2020년 06월  중국       NaN   NaN        NaN        NaN   NaN
197  2020년 06월  미국       NaN   NaN        NaN        NaN   NaN
198  2020년 06월  일본       NaN   NaN        NaN        NaN   NaN

In [3]:
# trade에서 subset 열의 값이 모두 결측치일 때 행을 삭제 inplace 옵션으로 바로 적용
trade.dropna(how='all', subset=['수출건수', '수출금액', '수입건수', '수입금액', '무역수지'], inplace=True)
print(trade[trade.isnull().any(axis=1)]) #null만 들어있는 Dataframe으로 보여줌

            기간 국가명      수출건수  수출금액       수입건수       수입금액  무역수지
191  2020년 04월  미국  105360.0   NaN  1141118.0  5038739.0   NaN

In [4]:
# loc[row, col] 로 해당 위치 값 가져옴
trade.loc[[188, 191, 194]] # 188, 191, 194 행 들을 가져온다.
print(trade.loc[[188, 191, 194]])
# 191행의 비어있는 수출금액을 전/후달의 평균 금액으로 무역수지를 수출-수입으로 구해서 넣는다.
trade.loc[191,'수출금액'] = (trade.loc[188,'수출금액'] + trade.loc[194, '수출금액']) / 2
oldData = trade.loc[191,'수출금액']
trade.loc[191,'무역수지'] = (trade.loc[191,'수출금액'] - trade.loc[191, '수입금액'])
print(trade.loc[191])
#change value by index
trade.iloc[191, 5] = 0
print(trade.iloc[191])

            기간 국가명      수출건수       수출금액       수입건수       수입금액       무역수지
188  2020년 03월  미국   97117.0  7292838.0  1368345.0  5388338.0  1904500.0
191  2020년 04월  미국  105360.0        NaN  1141118.0  5038739.0        NaN
194  2020년 05월  미국  126598.0  4600726.0  1157163.0  4286873.0   313853.0
기간      2020년 04월
국가명            미국
수출건수     105360.0
수출금액    5946782.0
수입건수    1141118.0
수입금액    5038739.0
무역수지     908043.0
Name: 191, dtype: object
기간      2020년 04월
국가명            미국
수출건수     105360.0
수출금액    5946782.0
수입건수    1141118.0
수입금액          0.0
무역수지     908043.0
Name: 191, dtype: object

In [5]:
# Dulplicated data preprocessing
print(trade[trade.duplicated()]) #only show one row(same)
# to show all rows that same values
print(trade[(trade['기간']=='2020년 03월')&(trade['국가명']=='중국')])
trade.drop_duplicates(inplace=True) # erase duplicated data and change
print(trade[(trade['기간']=='2020년 03월')&(trade['국가명']=='중국')])
#print(trade.loc[187]) - index 187이 없어서 error
# 행 자체가 삭제된다 186, 188... 당겨주는 함수도 있음

            기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지
187  2020년 03월  중국  248059.0  10658599.0  358234.0  8948918.0  1709682.0
            기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지
186  2020년 03월  중국  248059.0  10658599.0  358234.0  8948918.0  1709682.0
187  2020년 03월  중국  248059.0  10658599.0  358234.0  8948918.0  1709682.0
            기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지
186  2020년 03월  중국  248059.0  10658599.0  358234.0  8948918.0  1709682.0